@font-face {
  font-family: 'Henrietta';
  font-weight: 400;
  font-style: normal;
  src: url('~/assets/fonts/VCHenrietta-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Henrietta Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('~/assets/fonts/VCHenriettaCondensed-Medium.woff2') format('woff2');
}

html {
  min-width: 320px;
  --at-apply: 'bg-primary-500 text-gray-800';
}

html.dark {
  --at-apply: 'bg-zinc-900 text-white';
}

body {
  --at-apply: 'h-[100svh] max-h-screen-lg sm:p-4';
}

#__nuxt {
  --at-apply: 'mx-auto h-full max-w-screen-sm bg-white px-4 pt-4 pb-[max(env(safe-area-inset-bottom),1rem)] dark:bg-zinc-900 sm:rounded-md sm:shadow-sm dark:sm:border-2 dark:sm:border-zinc-800';
}

.correct {
  --at-apply: '!bg-lime-600 !text-white';
}

.present {
  --at-apply: '!bg-yellow-500 !text-gray-900';
}

.absent {
  --at-apply: '!bg-gray-500 !text-white !dark:bg-zinc-400 !dark:text-zinc-900';
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px);
  }
  10% {
    transform: translate(-2px);
  }
  20% {
    transform: translate(2px);
  }
  30% {
    transform: translate(-2px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-2px);
  }
  80% {
    transform: translate(2px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(1px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-22px);
  }
  90% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
