@font-face {
  font-family: "Henrietta";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/VCHenrietta7-Medium.woff2") format("woff2");
}

:root {
  @apply min-w-[320px];
  --h-screen: calc(100 * var(--vh, 1vh));
}

body {
  @apply h-$h-screen bg-amber-800 text-gray-800 dark:bg-gray-900 dark:text-white sm:p-4;
}

#app {
  @apply max-w-screen-sm h-full mx-auto bg-white pt-4 px-4 pb-[max(env(safe-area-inset-bottom),1rem)] font-sans dark:bg-gray-800 sm:rounded-md sm:shadow-sm;
}
