name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - run: corepack enable

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm run build
        env:
          NITRO_PRESET: cloudflare
          NUXT_GOOGLE_API_KEY: ${{ secrets.NUXT_GOOGLE_API_KEY }}
          NUXT_PUBLIC_GOOGLE_SHEETS_ID: ${{ secrets.NUXT_PUBLIC_GOOGLE_SHEETS_ID }}
          NUXT_PUBLIC_GOOGLE_SHEETS_TABLE: ${{ secrets.NUXT_PUBLIC_GOOGLE_SHEETS_TABLE }}

      - name: Deploy to Cloudflare
        run: npx wrangler deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
